{% extends 'base.html' %}
{% load static %}

{% block style %}
	<link href="{% static "navbar-static-top.css" %}" rel="stylesheet">
{% endblock %}

{% block nav-bar %}
    
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'core:home' %}">Cloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'vm:droplets' %}">Criar VM</a></li>
          <li ><a href="{% url 'vm:list' %}">Minhas VM's</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Perfil</a></li>
                <li><a href="">Mudar Senha</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'core:logout' %}">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    <div class="container">
   </nav>
   <div class='container'>
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <center><strong>{{message}}</strong></center>
      </div>
    {% endfor %}
   	{% block content %}

  


   	{% endblock %}

   </div class='container'>

{% endblock %}