{% extends 'menu.html' %}

{% block content %}

<style type="text/css">

.dist{
    margin-bottom: 5%; 
}

</style>

{% if object_list %}
<h2>Minhas Máquinas</h2>

<div class="container">
  {% for user_droplet in object_list %}
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>{{user_droplet.ip}}</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>{{user_droplet.droplet.memory}} MB</strong> Memória</li>
                <li><strong>{{user_droplet.droplet.processor}} Core</strong> CPU</li>
                <li><strong>{{user_droplet.droplet.disk}} GB</strong> Disco</li>
                <li><strong>{{user_droplet.get_status_display}}</strong></li>
            </ul>
        </div>
        
        <div class="col-sm-offset-2" >
            <div class="col-md-4  dist" >
                    <button type="button" {% if user_droplet.can_remove %}{% else %} disabled="disabled" {% endif %}class="btn btn-primary btn btn-danger  " data-toggle="modal" data-target="#{{user_droplet.pk}}">Excluir</button>
            </div>

            <div class="col-md-4  dist" >
              <a href="{% url 'vm:edit_droplet' user_droplet.pk %}">
                 <button type="button" {% if user_droplet.can_remove %}{% else %} disabled="disabled" {% endif %} class="btn btn-success">Editar</button>
              </a>

            </div>
        </div>

    </div>

    <div class="modal fade " id="{{user_droplet.pk}}" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
                <center><h3>Você realmente deseja excluir ?</h3></center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            <a href="{% url 'vm:remove_droplet' user_droplet.pk %}">
               <button type="button" class="btn btn-success">Sim</button>
            </a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   {% endfor %}

{% else %}
  <div class="container">
    <br>
    <center><span id="color-advice" >Nenhuma máquina disponível<span></center>
  </div>


{% endif %}



{% endblock %}